@import './settings';

.attribution { 
    font-size: 11px; 
    text-align: center; 
    @media screen and (min-width: 1000px) {
        &{
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.attribution a { 
    color: $orange; 
}