.menu{
    
    display: none;
    opacity: 0;
    visibility: hidden;
  transition: opacity 0.3s ease;
    position: absolute;
    z-index: 98566565;
    background: $white;
    width: 60%;
    min-width: 200px;
    height: 100%;
   padding: 10px 20px;
   img{
    &:hover{

        transform: scale(1.1);
    }
    margin-top: 20px;
       margin-bottom: 60px;
   }
   .menu-content{
    h4{
        
        padding: 20px;
    }
   }
}
.menu-open {
    display: block;
    opacity: 1;
    visibility: visible;
    
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  